# Python
__pycache__/
*.py[cod]
*.egg-info/
.Python
build/
dist/

# Entornos virtuales
.venv/
venv/
env/
ENV/

# Django
*.log
db.sqlite3
db.sqlite3-journal
/staticfiles/
/media/
local_settings.py

# Variables de entorno / secretos
.env
.env.*
!.env.example

# Editores / SO
.vscode/
.idea/
.DS_Store
Thumbs.db

#claude
.claude/
claude/
